name: Build and Publish

on: workflow_dispatch

jobs:
  build-and-publish:
    name: build and publish package
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: install pypa/build
        run: python -m pip install build --user
      - name: build a binary wheel and a source tarball
        run: python -m build --sdist --wheel --outdir dist/
      - name: publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
